<script>
	import {beforeUpdate} from "svelte";
	import {docs} from "../store.js";
	export let params;
	let turnos = [];
	let nombre = "";
	beforeUpdate(()=>{
		if (turnos){
			nombre = $docs.find((el)=> el._id == params.id).sobrenombre;
			turnos = $docs.filter((el)=>el._id.includes("turno:") && el.idEmpleado == params.id);
			console.log(turnos);
		}
	})
	function verFecha(fecha){
		let f = new Date(fecha);
		return `${f.getDate()}/${f.getMonth()+1}/${f.getFullYear()}`;
	}
	function verCantidad(fecha){

		return `faltan x dias`;
	}
	function verHora(fecha){
		let f = new Date(fecha);
		return `${f.getHours()}:${(f.getMinutes()<10?`0${f.getMinutes()}`:f.getMinutes())}hs`;
	}
	function verImagen(img){
		window.open(img);
	}
</script>

<div class="w-full p-2 flex flex-col items-center justify-start">
	<h1 class="font-bold text-3xl">{nombre}</h1>
	{#each turnos as t}
	<div class="w-full p-2 flex flex-col mb-2 items-center justify-start bg-white rounded shadow">
		<p class="w-full flex items-center justify-start"><span class="font-bold">Fecha: </span>{verFecha(t.turno)}</p>
		<p class="w-full flex items-center justify-start"><span class="font-bold">Hora: </span>{verHora(t.turno)}</p>
		<p class="w-full flex items-center justify-start"><span class="font-bold">Cliente: </span>{t.cliente}</p>
		<p class="w-full flex items-center justify-start"><span class="font-bold">Detalle: </span>{t.detalle}</p>	
		<p class="w-full flex items-center justify-start"><span class="font-bold">Seña: </span>${t.sena}</p>
		<button on:click={()=>verImagen(t.link)} class="flex items-center justify-center bg-red-500 text-white rounded m-2 p-2 shadow">Ver Imagen</button>
	</div>
	{/each}
</div>
